body, #mapid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#mapid.dark a, #mapid.dark .leaflet-control {
    color: #FFF;
}

body.dark {
    background-color: rgb(51, 51, 51);
}

#mapid.dark {
    background-color: rgb(51, 51, 51);
}

#mapid.dark img[src$="svg"] {
    filter: invert(100%);
}

#mapid.dark .leaflet-control-attribution {
    background-color: rgba(51, 51, 51, 0.5);
}

#mapid.dark .leaflet-bar {
    border: 1px solid rgb(204, 204, 204);
}

#mapid.dark .leaflet-bar a {
    background-color: rgb(51, 51, 51);
}

#mapid.light a {
    color: rgb(51, 51, 51);
}

#mapid .leaflet-control-attribution {
    font-size: 10px
}

#mapid .leaflet-control a {
    text-decoration: none;
    cursor: pointer;
}

#mapid .leaflet-control.leaflet-control-attribution a {
    text-decoration: underline;
}